<div class="layout">
  <div class="card">
    <div class="noti-body">
      <h6>List of IECC Records</h6>
    </div>
    <div class="container">
      <div class="row">
        <div class="form-wrap col-sm-3">
          <a>Mar Chart</a>
          <div class="actions">
            <i class="fa fa-plus pls"></i>
            <i (click)="onCallMarChart()" class="fa fa-eye"></i>
          </div>
        </div>
        <div class="form-wrap col-sm-3">
          <a>Support Care Plan </a>
          <div class="actions">
            <!-- <i class="fa fa-plus pls"></i> -->
            <i (click)="onCallSupportChart()" class="fa fa-eye"></i>
          </div>
        </div>
        <div class="form-wrap col-sm-3">
          <a>Personal Development</a>
          <div class="actions">
            <i class="fa fa-plus pls"></i>
            <i class="fa fa-eye"></i>
          </div>
        </div>
        <div class="form-wrap col-sm-3">
          <a>Observation Record</a>
          <div class="actions">
            <i class="fa fa-plus pls"></i>
            <i (click)="onCallObservationChart()" class="fa fa-eye"></i>
          </div>
        </div>
        <div class="form-wrap col-sm-3">
          <a>ABC Chart</a>
          <div class="actions">
            <i class="fa fa-plus pls"></i>
            <i (click)="onCallABCChart()" class="fa fa-eye"></i>
          </div>
        </div>
        <div class="form-wrap col-sm-3">
          <a>Accident / Incident Report</a>
          <div class="actions">
            <i class="fa fa-plus pls"></i>
            <i class="fa fa-eye"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>