.topBarWrap {
  display: flex;
  align-content: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;

  .srch {
    display: inline-flex;
    align-items: center;
    i {
      margin: 5px;
    }
    matInput{
        color: #ddd;
    }
  }
}

.logo{
    height: 50px !important;
}