<div class="auth-layout">
  <div class="login-wrap">
    <div class="logo">
      <img src="assets/images/IECC Logo.PNG">
    </div>
    <div class="body">
      <form class="loginForm"  [formGroup]="loginForm">
        <div class="form-input">
          <mat-form-field>
            <input matInput placeholder="Email Address" formControlName="email">
          </mat-form-field>
          <div class="grd_color"></div>
          <mat-form-field>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
            <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </mat-form-field>
          <div class="grd_color"></div>
        </div>
      </form>
      <div style="margin-top: 10px;">
        <a (click)="onForget()">Forgot Password ?</a>
      </div>
    </div>

    <div class="action-bottom col-md-10">
      <button [disabled]="btnDisabled" (click)="onLogin()" class="primary-btn">Login</button>
      <a class="reg">Don’t have an account? <span (click)="onRegister()">Sign up</span></a>
    </div>
  </div>

</div>