<div class="auth-layout">
  <div class="login-wrap">
    <div class="logo">
      <img src="assets/images/IECC Logo.PNG">
    </div>
    <form class="loginForm">
      <div class="form-input">
        <mat-form-field>
          <input matInput placeholder="Email Address">
        </mat-form-field>
        <div class="grd_color"></div>
        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
          <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
        <div class="grd_color"></div>
      </div>
    </form>
    <div class="action-bottom col-md-10">
      <div (click)="onLogin()" class="primary-btn">Login</div>
      <a class="reg">Don’t have an account? <span (click)="onRegister()">Sign up</span></a>
    </div>
  </div>

</div>