<div class="lay">
  <div class="form">
    <h3>My Documents</h3>
    <div class="inner-lay">
      <hr>
      <div class="col-sm doc-list">
        <img src="assets/icons/pdf.png">
        <a>Staff Supervision Form</a>
        <a class="actions">Preview</a>
        <a class="actions">Download</a>
      </div>
      <hr>
      <div class="col-sm doc-list">
        <img src="assets/icons/pdf.png">
        <a>Staff Supervision Form</a>
        <a class="actions">Preview</a>
        <a class="actions">Download</a>
      </div>
      <hr>
      <div class="col-sm doc-list">
        <img src="assets/icons/pdf.png">
        <a>Staff Supervision Form</a>
        <a class="actions">Preview</a>
        <a class="actions">Download</a>
      </div>
    </div>
  </div>
</div>