<div class="auth-layout">
  <div class="login-wrap">
    <div class="logo">
      <img src="assets/images/IECC Logo.PNG">
    </div>
    <form class="loginForm" [formGroup]="userForm">
      <div class="form-input">
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <div class="grd_color"></div>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
        <div class="grd_color"></div>
        <mat-form-field>
          <input matInput type="email" placeholder="Email Address" formControlName="email">
        </mat-form-field>
        <div class="grd_color"></div>
        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
          <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </mat-form-field>
        <div class="grd_color"></div>
        <mat-form-field>
          <input matInput type="number" placeholder="Phone Number" formControlName="telephoneNumber">
        </mat-form-field>
        <div class="grd_color"></div>
        <mat-form-field>
          <textarea matInput placeholder="Address" formControlName="address"></textarea>
        </mat-form-field>
        <div class="grd_color"></div>
      </div>
    </form>
    <div class="action-bottom col-md-10">
      <div (click)="onRegister()" class="primary-btn">Reister</div>
      <a class="reg">Already have an account? <span (click)="backToLogin()">Sign In</span></a>
    </div>
  </div>

</div>