@import "../core-modules.component.scss";

.dashboard-layout {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 25% auto;
  padding: 10px;
  .card {
    border: 1px solid rgba(158, 167, 187, 0.3);
  }
}
.shift-no {
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  color: #004983;
  width: 100%;
  padding: 20px;
}

.top_shift,
.xt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #004983 !important;

  h6 {
    margin-bottom: 0px !important;
  }
}

.xt {
  justify-content: center !important;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-direction: column !important;
  //   margin-top: 70px;
  .shift_no {
    border-radius: 50%;
    border: 6px solid #004983;
    color: #004983 !important;
    text-align: center;
    /* padding: 46px; */
    font-size: 75px;
    width: 120px;
  }
}

.primary-btn {
  margin: 25px 0px 10px 0px;
  i {
    font-size: 14px;
    margin-left: 20px;
  }
}

agm-map {
  height: 300px;
}
