<div class="animated pulse">
  <div class="modal-header-wrap">
    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  </div>
  <div class="modal-baseWrap">
    <br>
    <div class="top-sec">
      <div class="clt-profile">
        <img src="assets/images/passport.jpg">
        <div class="asign">
          <h6>ASSINEE <i class="fa fa-edit"></i></h6>
          <h5>Mercy Daracan</h5>
        </div>
      </div>
      <div class="blue-btn">View Care Plan</div>
    </div>
    <div class="col-sm-4 inner-details">
      <h6>PATIENT NAME</h6>
      <h5>Sean Paul</h5>
    </div>
    <div class="col-sm-4 inner-details">
      <h6>TIME</h6>
      <h5>8:00 am - 12:00 pm</h5>
    </div>
    <div class="col-sm-6 inner-details">
      <h6>ADDRESS</h6>
      <h5>22, Beacon Lodge 2 Gladstone Road,
        Colchester, Essex, CO1 2EB, London</h5>
    </div>
    <div class="col-sm-4 inner-details">
      <h6>STATUS</h6>
      <h5 class="orange">Pending</h5>
    </div>
    <div class="btn-wrap">
      <div class="primary-btn">Submit</div>
    </div>

  </div>
</div>