<div class="layout">
  <div class="card">
    <div class="head-title col-sm-3">
      <h6>Update Your Profile</h6>
    </div>
    <div class="row">
      <div class="profile-picture col-sm-3">
        <img src="assets/images/passport.jpg" alt="profil picture">
        <div class="file-input-wrapper">
          <div class="icon-txt"><i class="far fa-edit"></i> Edit</div>
          <input type="file" #file multiple type="file" value="" />
        </div>
      </div>
      <div class="col-sm-4 form">
        <mat-form-field>
          <input matInput placeholder="Full Name">
        </mat-form-field>
        <div class="grd_color"></div>
        <mat-form-field>
          <input matInput type="email" placeholder="Email Address">
        </mat-form-field>
        <div class="grd_color"></div>
        <mat-form-field>
          <input matInput type="number" placeholder="Phone Number">
        </mat-form-field>
        <div class="grd_color"></div>
        <mat-form-field>
          <textarea matInput placeholder="Address"></textarea>
        </mat-form-field>
        <div class="grd_color"></div>
        <div class="primary-btn">Update</div>
      </div>
      <div class=" col-sm-3 profile-doc">
        <h6>BIODATA FORM</h6>
        <img src="assets/icons/pdf.png">
        <div class="link">Click to Preview</div>
      </div>
    </div>
  </div>
</div>