<div class="animated pulse">
  <div class="modal-header-wrap">
    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  </div>
  <div class="modal-baseWrap">
    <br>
    <form [formGroup]="requestForm">
      <div class="input-group">
        <div class="InputGroup">
          <mat-form-field>
            <input matInput placeholder="Request Type" formControlName="requestType">
          </mat-form-field>
          <div class="grd_color"></div>
        </div>
        <div class="InputGroup">
          <mat-form-field>
            <input matInput type="date" placeholder="Start Date" formControlName="startDate">
          </mat-form-field>
          <div class="grd_color"></div>
        </div>
      </div>
      <div class="input-group">
        <div class="InputGroup">
          <mat-form-field>
            <input matInput type="time" placeholder="Start Time" formControlName="startTime">
          </mat-form-field>
          <div class="grd_color"></div>
        </div>
        <div class="InputGroup">
          <mat-form-field>
            <input matInput placeholder="Duration" formControlName="duration">
          </mat-form-field>
          <div class="grd_color"></div>
        </div>
      </div>
      <div class="input-group">
        <div class="InputGroup-xtr">
          <mat-form-field>
            <input matInput placeholder="Reasons" formControlName="reasons">
          </mat-form-field>
          <div class="grd_color"></div>
        </div>
      </div>
    </form>
    <div class="btn-wrap">
      <div (click)="onSaveRequest()" class="primary-btn">Submit</div>
    </div>
  </div>
</div>