.card {
  padding: 30px;
}


.top-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .cont-title-date{
        color: #495268;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }
}

.cont-body{
    padding: 0 20px 0 20px;
}

.statusP{
    .main-req{
        font-size: 18px;
    }
}