<div class="layout">
  <div class="card">
    <div class="top-cont">
      <div class="col-sm-3 cont-title-date">
        <h4>Past Requests</h4>
        <select>
          <option value="0">April 2019</option>
        </select>
      </div>
      <div class="blue-btn" (click)="onShowNewRequest()"><i class="fa fa-plus"></i>New Request</div>
    </div>
    <br>
    <hr>
    <div *ngFor="let request of requests">
      <div class="top-cont cont-body">
        <div class="statusP">
          <a class="main-req">{{request.requestType}}</a>
          <small>{{request.reasons}}</small>
        </div>
        <div class="">
          <a>{{request.startDate}}</a>
          <small>Duration: <span class="green">{{request.duration}}</span></small>
        </div>
      </div>
    </div>

    <hr>
    <div class="blue-btn">Load More</div>
  </div>
</div>

<div *ngIf="newRequest" class="modal-overlay">
  <app-new-request (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center">
  </app-new-request>
</div>