.card {
  padding: 30px;
}

.top-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  mat-form-field {
    font-size: 20px !important;
    font-weight: 700 !important;
  }
}

.date-calendar {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  h4 {
    margin-bottom: 0px !important;
    margin-right: 10px;
  }
}

// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   align-items: center;
// }

h5 {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 5px;
}

.list-container {
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
}

.column-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: RGBA(255, 255, 255, 0.05);
}

.column-container-complete {
  // width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: RGBA(255, 255, 255, 0.05);
}

mat-card {
  margin: 1em;
  cursor: pointer;
}

.pndlist {
  border-left: 6px solid #d69d0b;
}

.cmplist {
  border-left: 6px solid #004983;
}

.dropdown-menu {
  box-shadow: 0px 0px 2px rgba(67, 102, 118, 0.501217);
  border-radius: 0px !important;
  min-width: 7rem;
  padding: 0.5rem 0;
  margin: 0.125rem 25px 0;
  .dropdown-item {
    font-size: 10px;
    font-weight: 600;
  }
}

mat-card:hover {
  background: #35a3cb;
  border: 1px solid rgba(73, 82, 104, 0.15);
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(67, 102, 118, 0.501217);
  border-radius: 4px;
  color: white;
}

.crd-body {
  margin-top: -10px;
  display: flex;
  margin-right: 20px;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 12px;
  }
}

.pendingList {
  max-height: 525px !important;
  overflow: auto;
}

.complted {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

// .list {
// //   border: RGBA(46, 49, 49, 0.7) solid 1px;
//   border-radius: 2px;
// }

.list-item {
  margin: 10px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

a {
  text-decoration: none;
  color: dodgerblue;
}
