.card {
  padding: 30px;
}

span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-detail {
  display: flex;
  justify-content: baseline;
  text-align: left;
  a,
  p {
      font-size: 13px;
      font-weight: 400;
  }
}
