<div class="layout">
  <div class="card">
    <div class="cont-title-date">
      <h4>Client Profile</h4>
      <span>
        <div (click)="onBacktoClient()" class="blue-btn"><i class="fa fa-arrow-left"></i>Back to Client</div>
        <div class="blue-btn">View Plan Details</div>
      </span>
    </div>
    <div class="">
      <h6>Person Data</h6>
      <div class="inner-detail">
        <a class="col-sm-3">Name:</a>
        <p class="">Mercy Daracan</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Date of Birth:</a>
        <p class="">20th March 1936</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Current Address:</a>
        <p class="">22, Beacon Lodge 2 Gladstone Road, Colchester, Essex, CO1 2EBn</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Telephone No:</a>
        <p class="">01787 270001</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Mobile:</a>
        <p class="">01787 270001</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Date of Initial Assessment:</a>
        <p class="">30th March 2019</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Date of admission:</a>
        <p class="">31st March 2019</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Person ID Number:</a>
        <p class="">06/04/1959</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">NHS No.:</a>
        <p class="">N/A</p>
      </div>
      <hr>
      <div class="inner-detail">
        <a class="col-sm-3">Next of Kin:</a>
        <p class="">Irene Daracan</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Relationship:</a>
        <p class="">Wife</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Telephone No:</a>
        <p class="">01787 270001</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Address:</a>
        <p class="">Same as above</p>
      </div>
      <hr>
      <div class="inner-detail">
        <a class="col-sm-3">GP Details:</a>
        <p class="">VIctoria Teatino</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Address:</a>
        <p class="">Blackwater Medical Centre, Princes Road Maldon, CM9 5GP.</p>
      </div>
      <div class="inner-detail">
        <a class="col-sm-3">Telephone No:</a>
        <p class="">01787 270001</p>
      </div>
    </div>
  </div>
</div>