    /*
    Flaticon icon font: Flaticon
    Creation date: 17/05/2019 19:58
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-house:before { content: "\f100"; }
.flaticon-left-arrow:before { content: "\f101"; }
.flaticon-arrow-pointing-to-right:before { content: "\f102"; }
.flaticon-maps-and-location:before { content: "\f103"; }
.flaticon-file:before { content: "\f104"; }
.flaticon-contract:before { content: "\f105"; }
.flaticon-chart:before { content: "\f106"; }
.flaticon-down:before { content: "\f107"; }
.flaticon-support:before { content: "\f108"; }
.flaticon-controls:before { content: "\f109"; }
.flaticon-teamwork:before { content: "\f10a"; }
    
    $font-Flaticon-house: "\f100";
    $font-Flaticon-left-arrow: "\f101";
    $font-Flaticon-arrow-pointing-to-right: "\f102";
    $font-Flaticon-maps-and-location: "\f103";
    $font-Flaticon-file: "\f104";
    $font-Flaticon-contract: "\f105";
    $font-Flaticon-chart: "\f106";
    $font-Flaticon-down: "\f107";
    $font-Flaticon-support: "\f108";
    $font-Flaticon-controls: "\f109";
    $font-Flaticon-teamwork: "\f10a";