<div class="layout">
  <div class="card">
    <div class="noti-body">
      <h6>Today</h6>
    </div>
    <div>
      <div class="noti-body">
        <div class="noti-inner-body">
          <div class="noti-avatar">
            <a>P</a>
          </div>
          <div class="noti-mssg">
            <a>The IECC staff policy has been updated</a>
          </div>
        </div>
        <div class="time">20mins ago</div>
      </div>
      <div class="noti-body">
        <div class="noti-inner-body">
          <div class="noti-avatar">
            <a>C</a>
          </div>
          <div class="noti-mssg">
            <a>You clocked out your shift at 10:00am</a>
          </div>
        </div>
        <div class="time">25mins ago</div>
      </div>
    </div>
    <br>
    <br>
    <div class="noti-body">
      <h6>14-05-2019</h6>
    </div>
    <div>
      <div class="noti-body">
        <div class="noti-inner-body">
          <div class="noti-avatar">
            <a>P</a>
          </div>
          <div class="noti-mssg">
            <a>The IECC staff policy has been updated</a>
          </div>
        </div>
        <!-- <div class="time">20mins ago</div> -->
      </div>
      <div class="noti-body">
        <div class="noti-inner-body">
          <div class="noti-avatar">
            <a>C</a>
          </div>
          <div class="noti-mssg">
            <a>You clocked out your shift at 10:00am</a>
          </div>
        </div>
        <!-- <div class="time">25mins ago</div> -->
      </div>
      <div class="noti-body">
        <div class="noti-inner-body">
          <div class="noti-avatar">
            <a>C</a>
          </div>
          <div class="noti-mssg">
            <a>Mercy Daracan clocked in at 8:00am</a>
          </div>
        </div>
        <!-- <div class="time">25mins ago</div> -->
      </div>
    </div>
  </div>
</div>