<div class="auth-layout">
  <div class="login-wrap">
    <div class="logo">
      <img src="assets/images/IECC Logo.PNG">
    </div>
    <div class="body">
      <form class="loginForm">
        <div class="form-input">
          <mat-form-field>
            <input matInput placeholder="New Password" [type]="hide ? 'password' : 'text'">
            <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </mat-form-field>
          <div class="grd_color"></div>
          <mat-form-field>
            <input matInput placeholder="Confirm Password" [type]="hide ? 'password' : 'text'">
            <mat-icon style="cursor: pointer;" matSuffix (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </mat-form-field>
          <div class="grd_color"></div>
        </div>
      </form>
    </div>

    <div class="action-bottom col-md-10">
      <div (click)="onChangePassword()" class="primary-btn">Change Password</div>
      <a class="reg"><span (click)="onBackLogin()">Back to Login</span></a>
    </div>
  </div>

</div>