<!-- TopBar Section -->

<div class="topBarWrap">
    <div class="top-wrap">
        <div class="srch">
            <i class="fas fa-search"></i>
            <input placeholder="Search">
        </div>
        <div class="col-sm-4 pageTitle">{{title}}</div>
        <div class="prof">
            <div class="prof-notif" (click)="onOpenChat()">
                <i matBadge="1" matBadgeSize="small"   matBadgePosition="above after" matBadgeColor="primary"
                    class="far fa-comment-dots mat-icon"></i>
            </div>
            <div class="prof-notif dropdown">
                <mat-icon matBadge="1" class="mat-icon" matBadgeSize="small" matBadgePosition="above after"
                    matBadgeColor="primary">
                    notifications_none </mat-icon>
                <div class="dropdown-content-notification-box">
                    <h6 class="noti-title">Notifications</h6>
                    <hr>
                    <div class="noti-body" (click)="onShowNotification()">
                        <div class="noti-inner-body">
                            <div class="noti-avatar">
                                <a>P</a>
                            </div>
                            <div class="noti-mssg">
                                <a>The IECC staff policy has been updated</a>
                                <div class="time">20mins ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="prof-detail ">
                <div class="user-avatar" data-toggle="tooltip" data-placement="bottom" title="Profile">
                    <img src="assets/images/passport.jpg" />
                    <div class="status"></div>
                </div>
                <div class="user-detail col-sm-10 ">
                    <div class="inner-UD">
                        <a>{{user.data.firstName}} {{user.data.lastName}}</a>
                        <div class="grd">
                            <div>
                                <small data-toggle="tooltip" data-placement="bottom" title="Make Request">I'm Available
                                    Today</small>
                                <i data-toggle="tooltip" data-placement="bottom" title="Log-Out"
                                    class="fa fa-sign-out-alt logOut" (click)="onLogout()"></i>
                            </div>
                            <div class="grd_color"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- TopBar Ends -->


<div id="mySidenav" class="sidenav">
    <div class="sidebarBTNToggle">
        <i class=" flaticon-arrow-pointing-to-right sidebarBTN" *ngIf="open" (click)="openNav()"></i>
        <i class="flaticon-left-arrow  sidebarBTN" *ngIf="close" (click)="closeNav()"></i>
    </div>

    <div class="navList">
        <div routerLink="/core-module/dashboard" routerLinkActive="active" class="navItem" data-toggle="tooltip"
            title="Dashboard">
            <i class="flaticon-house"></i>
            <a>Dashboard</a>
        </div>
        <div routerLink="/core-module/staff-tracking" routerLinkActive="active" class="navItem" data-toggle="tooltip"
            title="Staff Tracking">
            <i class="flaticon-maps-and-location"></i>
            <a>Tracking</a>
        </div>
        <div routerLink="/core-module/rota" routerLinkActive="active" class="navItem" data-toggle="tooltip"
            title="Rota">
            <i class="flaticon-file"></i>
            <a>Rota</a>
        </div>
        <div routerLink="/core-module/reports" routerLinkActive="active" class="navItem" data-toggle="tooltip"
            title="Reports">
            <i class="flaticon-chart"></i>
            <a>Reports</a>
        </div>
        <div routerLink="/core-module/clients" routerLinkActive="active" class="navItem" data-toggle="tooltip"
            title="Clients">
            <i class="flaticon-support"></i>
            <a>Clients</a>
        </div>
        <div routerLink="/core-module/training" routerLinkActive="active" class="navItem" data-toggle="tooltip"
            title="Training">
            <i class="flaticon-teamwork"></i>
            <a>Training</a>
        </div>
        <div routerLink="/core-module/request" routerLinkActive="active" class="navItem" data-toggle="tooltip"
            title="Requests">
            <i class="flaticon-support-1"></i>
            <a>Requests</a>
        </div>
        <div routerLink="/core-module/forms" routerLinkActive="active" class="navItem" data-toggle="tooltip"
            title="Forms">
            <i class="flaticon-plan"></i>
            <a>Forms</a>
        </div>
        <div routerLink="/core-module/settings" routerLinkActive="active" class="navItem" data-toggle="tooltip"
            title="Settings">
            <i class="flaticon-controls"></i>
            <a>Setting</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>