<div class="animated pulse">
  <div class="modal-header-wrap">
    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">X</div>
  </div>
  <div class="modal-baseWrap">
    <br>
    <form [formGroup]="roasterForm">
      <div class="input-group">
        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <mat-label>Client</mat-label>
              <mat-select formControlName="selectedClientId">
                <mat-option *ngFor="let client of clients" [value]="client._id">
                  {{client.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>

        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput type="time" placeholder="Time In" formControlName="starts">
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput type="time" placeholder="Time Out" formControlName="ends">
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>

        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <mat-label>Assignee</mat-label>
              <mat-select formControlName="selectedUserId">
                <mat-option *ngFor="let user of users" [value]="user._id">{{user.firstName}} {{user.lastName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select formControlName="status">
                <mat-option value="0">Pending</mat-option>
                <mat-option value="1">Ongoing</mat-option>
                <mat-option value="3">Completed</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>
      </div>
    </form>

    <div class="btn-wrap">
      <div (click)="onSaveRoaster()" class="primary-btn">Submit</div>
    </div>
  </div>
</div>
