@import "../rota-details/rota-details.component.scss";


.InputGroup {
  width: 100% !important;
  margin-bottom: 0px !important;
}

.grd_color {
  margin-top: -21px;
}

.input-group-wrap {
  margin: 10px;
}

.input-group {
  margin-bottom: 30px;
}
