.roaster-layout {
  display: grid;
  grid-template-columns: 35% Auto;
}

.roasterDetails {
  padding: 40px;
  .topAction,
  .rotaDetail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebeff2;
    padding: 12px;
  }

  .rotaDetail:hover {
    background: #35A3CB;
    cursor: pointer;
    color: #ebeff2 !important;
    .noti-color-green{
      border: 1px solid white;
    }
    span{color: white !important;}
  }
}
.calendarView {
  display: flex;
  justify-content: center;
  background: rgba(196, 196, 196, 0.24);
  padding: 30px;
  mat-calendar {
    width: 500px !important;
    mat-calendar-header {
      button {
        span {
          font-size: 25px !important;
        }
      }
    }
  }
}
