<div class="layout">
  <div class="card">
    <div class="ttl">
      <h5>Support Plan Details</h5>
      <div class="ttl">
        <div class="blue-btn"><i class="fa fa-plus"></i>Add Progress Report</div>
        <div class="blue-btn">View Progress Report</div>
        <div class="blue-btn">View Client Profile</div>
      </div>
    </div>
    <div class="selClient col-sm-4">
      <h6>Select Client: </h6>
      <div>
        <select>
          <option value="0">Olaolu Hammed</option>
          <option value="1">Folorunsho Yedenu</option>
          <option value="2">Alao Kemi </option>
        </select>
      </div>
    </div>
    <br>
    <div class="sup-inner-detail">
      <div>
        <div>
          <h6>Personal Data</h6>
          <div class="PD-detail">
            <p>Name: <span>Mercy Daracan</span></p>
            <p>DOB: <span>20th March 1936</span></p>
            <p>Address: <span>22, Beacon Lodge 2 Gladstone
                Road, Colchester, Essex, CO1 2EBn</span></p>
            <p>Contact: <span>01787 270001</span></p>
            <p>Mobile: <span>01787 270001</span></p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div>KBIBDAIB</div>
    </div>
  </div>
</div>


<div class="floating-button" data-toggle="tooltip" (click)="onHome()" data-placement="top" title="Home">
    <i class="fa fa-home" aria-hidden="true"></i>
  </div>