<div class="lay">
  <div class="form">
    <h3>Policy and Procedure</h3>
    <br>
    <br>
    <div class="pp-list">
      <h6>Lorem ipsum dolor sit amet, consectetur:</h6>
      <p>adipiscing elit. Curabitur non sapien at arcu sodales pellentesque. Etiam semper velit ante, rutrum consectetur
        velit faucibus at. In sodales fringilla diam, et tempor elit venenatis a. Nullam eu felis et erat fringilla
        ultricies. In varius dolor augue, quis molestie leo bibendum at</p>
    </div>
    <div class="pp-list">
      <h6>Lorem ipsum dolor sit amet, consectetur:</h6>
      <p>adipiscing elit. Curabitur non sapien at arcu sodales pellentesque. Etiam semper velit ante, rutrum consectetur
        velit faucibus at. In sodales fringilla diam, et tempor elit venenatis a. Nullam eu felis et erat fringilla
        ultricies. In varius dolor augue, quis molestie leo bibendum at</p>
    </div>
    <div class="pp-list">
      <h6>Lorem ipsum dolor sit amet, consectetur:</h6>
      <p>adipiscing elit. Curabitur non sapien at arcu sodales pellentesque. Etiam semper velit ante, rutrum consectetur
        velit faucibus at. In sodales fringilla diam, et tempor elit venenatis a. Nullam eu felis et erat fringilla
        ultricies. In varius dolor augue, quis molestie leo bibendum at</p>
    </div>
  </div>
</div>