<div class="animated pulse">
  <div class="modal-header-wrap">
    <div (click)="close_onClick()" class="modal-close-ico" aria-hidden="true">&times;</div>
  </div>
  <div class="modal-baseWrap">
    <br>
    <form [formGroup]="clientForm">
      <div class="input-group" style="width: 100%;">
        <div class="input-group-wrap" style="width: 100%;">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput type="text" placeholder="Name" formControlName="name">
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput type="email" placeholder="E-Mail" formControlName="email">
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>

        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>
      </div>

      <div class="input-group-wrap">
        <div class="InputGroup">
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
        <div class="grd_color"></div>
      </div>

      <div class="input-group-wrap">
        <div class="InputGroup">
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Current Address" formControlName="address"></textarea>
          </mat-form-field>
        </div>
        <div class="grd_color"></div>
      </div>

      <div class="input-group">
        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput type="number" placeholder="Telephone" formControlName="telephoneNumber">
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>

        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput type="number" placeholder="Mobile">
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput [matDatepicker]="dia" placeholder="Date of Initial Assessment" formControlName="dateOfInitialAssessment">
              <mat-datepicker-toggle matSuffix [for]="dia"></mat-datepicker-toggle>
              <mat-datepicker #dia></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>

        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput [matDatepicker]="doa" placeholder="Date of Admission" formControlName="dateOfAdmission">
              <mat-datepicker-toggle matSuffix [for]="doa"></mat-datepicker-toggle>
              <mat-datepicker #doa></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput placeholder="Person ID Number" formControlName="personIdNumber">
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>

        <div class="input-group-wrap">
          <div class="InputGroup">
            <mat-form-field>
              <input matInput placeholder="NHIS No." formControlName="nhsNumber">
            </mat-form-field>
          </div>
          <div class="grd_color"></div>
        </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Next of Kin
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="input-group">
            <div class="input-group-wrap">
              <div class="InputGroup">
                <mat-form-field>
                  <input matInput placeholder="Next of Kin" formControlName="NOKname">
                </mat-form-field>
              </div>
              <div class="grd_color"></div>
            </div>

            <div class="input-group-wrap">
              <div class="InputGroup">
                <mat-form-field>
                  <mat-label>Relationship</mat-label>
                  <mat-select formControlName="relationship">
                    <mat-option value="0">Father</mat-option>
                    <mat-option value="1">Mother</mat-option>
                    <mat-option value="2">Wife</mat-option>
                    <mat-option value="3">Husband</mat-option>
                    <mat-option value="4">Brother</mat-option>
                    <mat-option value="5">Sister</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="grd_color"></div>
            </div>
          </div>
          <div class="input-group">
            <div class="input-group-wrap">
              <div class="InputGroup">
                <mat-form-field>
                  <input matInput type="number" placeholder="Telephone No." formControlName="NOKtelephoneNumber">
                </mat-form-field>
              </div>
              <div class="grd_color"></div>
            </div>

            <div class="input-group-wrap">
              <div class="InputGroup">
                <mat-form-field>
                  <input matInput placeholder="Address" formControlName="NOKaddress">
                </mat-form-field>
              </div>
              <div class="grd_color"></div>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              GP Details
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="input-group">
            <div class="input-group-wrap">
              <div class="InputGroup">
                <mat-form-field>
                  <input matInput placeholder="Name" formControlName="SocialWorkname">
                </mat-form-field>
              </div>
              <div class="grd_color"></div>
            </div>

            <div class="input-group-wrap">
              <div class="InputGroup">
                <mat-form-field>
                  <input matInput type="number" placeholder="Telephone No." formControlName="SocialWorknumber">
                </mat-form-field>
              </div>
              <div class="grd_color"></div>
            </div>
          </div>


          <div class="input-group-wrap">
            <div class="InputGroup">
              <mat-form-field style="width: 100%;">
                <textarea matInput placeholder="Company Address" formControlName="SocialWorkcompany"></textarea>
              </mat-form-field>
            </div>
            <div class="grd_color"></div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>


    </form>

    <div class="btn-wrap">
      <div (click)="selectedClient ? updateClient() : onSaveClient()" class="primary-btn">Submit</div>
    </div>
  </div>
</div>
