<div class="layout">
  <div class="card roaster-layout">
    <div class="roasterDetails">

      <div *ngIf="noTraining" class="notraining">
        <i class="flaticon-teamwork"></i><br>
        <a>No training available</a>
      </div>

      <div *ngIf="traningAvailable">
        <div class="topAction">
          <h5>{{selectedDate | date}}</h5>
        </div>
        <div class="rotaDetail" *ngFor="let training of dateTrainings; let i = index">
          <!--<i class="fa fa-plus"></i>-->
          <div>
            <a>{{ training?.title }}</a><br>
            <small>London</small>
          </div>
          <div>
            <div>{{ training?.startTime }} - {{ training?.endTime }}</div>
          </div>
        </div>
      </div>

    </div>
    <div class="calendarView">
      <mat-calendar #calendar [(selected)]="selectedDate" (selectedChange)="setDate($event)" ></mat-calendar>
    </div>
  </div>
</div>
