.rotaDetail {
  align-items: baseline;
  a {
    font-weight: 600;
    color: #eb5757;
  }
}

.notraining {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  a {
    color: #495268;
    font-weight: 600;
  }
}
