<div class="layout">
  <div class="card">
    <div class="col-sm-3 cont-title-date">
      <h4>Client List</h4>
    </div>
    <div class="row">
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
      <div class="col-sm-2 client-card">
        <h6>Mercy Daracan</h6>
        <p>22, Beacon Lodge 2 Gladstone Road,
          Colchester, Essex, CO1 2EB</p>
        <a>Personal care plan</a>
      </div>
    </div>
    <div class="blue-btn">Load More</div>
  </div>
</div>