<div class="layout">
  <div class="card">
    <div class="cont-title-date">
      <h4>Client List</h4>
      <div (click)="onShowNewClient()" class="blue-btn"><i class="fa fa-plus"></i>New Client</div>
    </div>

    <!-- <table id="data-table" class="table">
      <thead>
        <tr>
          <th></th>
          <th>Full Name</th>
          <th>Telephone</th>
          <th>E-Mail</th>
          <th>Address</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientLoad">
          <td>
          </td>
          <td>{{client.name}}</td>
          <td>{{client.telephoneNumber}}</td>
          <td> {{client.email}}</td>
          <td>{{client.address}}</td>
          <td>{{client.description}}</td>
          <td>
            <div class="action-right">
            </div>
          </td>
        </tr>
      </tbody>
    </table> -->

    <div class="row">
      <div class="col-sm-3 client-card" *ngFor="let client of clients; let i = index">
        <div class="edit-wrap">
          <h6 (click)="onSelectedClient(client)">{{client.name}}</h6>
          <i (click)="onShowNewClient(client, i)" class="fa fa-edit"></i>
        </div>
        <p>{{client.telephoneNumber}}</p>
        <p>{{client.address}}</p>
        <p>{{client.email}}</p>
        <a>{{client.description}}</a>
      </div>
    </div>

    <div class="blue-btn">Load More</div>
  </div>
</div>

<div *ngIf="newClientPopup" class="modal-overlay">
  <app-new-client [selectedClient]="selectedClient" (updatedClient)="getUpdatedClient($event)" (closeModal)="close_onClick($event)" id="form-modal" class="form-modal center-center">
  </app-new-client>
</div>
