.card {
  padding: 30px;
}

.client-card {
  padding: 20px;
  border: 1px solid rgba(73, 82, 104, 0.15);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 20px;
}

.client-card:hover {
  box-shadow: 0px 0px 2px rgba(67, 102, 118, 0.501217);
  cursor: pointer;
}
